# git
alias gbn="git checkout -b"
alias gm="git merge --no-ff"
alias gs="git status -sb"
alias gst="git stash"
alias gsp="git stash pop"
alias guc="git reset --soft HEAD^"
alias ggrep="git grep -n -i --break --heading"
alias cg='cd `git rev-parse --show-toplevel`'

# more verbose file utilities
alias mv="mv -vi"
alias cp="cp -vai"
alias rm="rm -v"
alias chmod="chmod -v"
alias chown="chown -v"

# others
alias vi="vim"
alias xx="tmux"
alias xa="tmux a"
alias xls="tmux ls"
alias virc="vi ~/.vimrc"

# type errors
alias vu=vi
