[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "gitignore"]
	path = .oh-my-zsh/custom/plugins/gitignore
	url = git@github.com:voronkovich/gitignore.plugin.zsh.git
