[user]
  name = <your_git_name>
  email = <your_git_email>
[fetch]
  prune = true
[pull]
  rebase = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
